@inherits UmbracoViewPage

<div class="container-fluid">
    <div class="päta">
        <hr />
        Copyright &#169; @DateTime.Today.Year Vladimír Ksenič.
        <br />
        @*Toto je päta eshopu.*@
    </div>
</div>