@inherits UmbracoViewPage

<div class="container">
    <div class="päta">
        <hr />
        Copyright &#169; @DateTime.Today.Year Allrights reserved.
        <br />
        @*Toto je päta eshopu.*@
    </div>
</div>